<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>school</key>
    <string>YOUR_SCHOOL</string>
    <key>server</key>
    <string>YOUR_SERVER</string>
    <key>password</key>
    <string>YOUR_PASSWORD</string>
    <key>username</key>
    <string>YOUR_USERNAME</string>
</dict>
</plist>
